<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
<script src="/react-hearthstone/dist/react-hearthstone.js"></script>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
<link href="/react-hearthstone/dist/style.css" rel="stylesheet">
<link href="../style.css" rel="stylesheet">
<title>CardGallery Example</title>
<h1>CardGallery Example</h1>
<div id="content"></div>
<script>

$.get("https://api.hearthstonejson.com/v1/latest/enUS/cards.collectible.json", function(cards) {
  var NUM_CARDS = 30;
  var selection = [];

  for (var i = 0; i < NUM_CARDS; i++) {
    selection.push(cards[Math.floor(Math.random() * cards.length)]);
  }

  selection.forEach(addImageUrlToCard);

  ReactDOM.render(
    React.createElement(reactHearthstone.CardGallery, {cards: selection}),
    document.getElementById('content')
  );

  function addImageUrlToCard(card) {
    var CARD_IMAGES_URL_ROOT = 'http://wow.zamimg.com/images/hearthstone/cards/enus/medium/';
    var CARD_IMAGES_EXTENSION = '.png';
    card.imageUrl = CARD_IMAGES_URL_ROOT + card.id + CARD_IMAGES_EXTENSION;
  }
});
</script>